@font-face{
    font-family: 'hamLight';
    src: url('../../fonts/Hahmlet-Light.ttf')
}

@font-face{
    font-family: 'hamMedium';
    src: url('../../fonts/Hahmlet-Medium.ttf')
}

@font-face{
    font-family: 'hamExtraL';
    src: url('../../fonts/Hahmlet-ExtraLight.ttf')
}



.Diary{
    font-family: 'hamMedium';
    margin-top: 10%;
    margin-left: 3%;
    font-size: 20px;


    .DiaryTitle{
        font-family: 'hamLight';
        margin-bottom: 20px;
        margin-top: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-style: dashed;
        border-color:lightgray;
        border-width: 1.6px;
        height: 56px;
        font-size: 20px;
        border-radius: 10px;
        outline: none;
    
    }



    #date{
        font-family: 'hamMedium';
        font-size: 15px;

        padding: 1px;
        margin-bottom: 5px;
        margin-left: 0px;
        
        border:none;
        border-color: rgba(206, 202, 202, 0.775);

        color: #FECD6E;

    
    }

    .DiaryContent{
        font-family: 'hamLight';
        font-size: 15px;

        padding: 20px 60px 20px 60px;
        margin-bottom: 5px;
        margin-top: 10px;

        border-style: dashed;
        border-width: 1.6px;
        border-color: lightgray;
        border-radius: 10px;

        outline: none;
    }

    .DiaryWriteButton{
        font-family: 'hamMedium';
        margin-top: 10px;
        margin-left: 35%;

        background-color: #FECD6E;
        border: none;
        width: 80px;
        height: 35px;
        border-radius: 10px;
        
    }
    

}