.intro{
    text-align: center;
    font-size : 20px;
    font-weight: bold;
    margin-bottom: auto;
}

.FAQ{
    text-align: left;
    margin-top : 20%;
    padding-top : auto;
    margin-left: 5%;
    margin-right: 5%;
}
.QuestionText {
    font-size:20px;
    font-weight: 900;
}
.AnswerText{
    font-size: 15px;
}
