.intro{
    text-align: center;
    font-size : 100%;
    font-weight: bold;
}

.Question{
    text-align: left;
    margin-top : 10%;
    margin-right: 5%;

}
.Answer{
    text-align: left;
    margin-top : 10%;
    margin-right: 5%;
    text-align: justify;
    word-break: break-all;
}
.QuestionText{
    font-size:120%;
    font-weight: 900;
    word-break: normal;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-bottom: 10%;
}
.AnswerText{
    font-size:120%;
    font-weight: 900;
    word-break: normal;
    margin-top: 10%;
}