.background {
    background-size: cover;
    background-color: #e1e3ca;
    display: grid;
    place-items: center;

    // 부모 엘리먼트의 min-height 속성을 100vh로 설정해주고 있는데요. 
    // 이렇게 스타일하지 않으면 부모 엘리먼트의 높이가 컨텐츠 높이만큼 자치하기 때문에 수평으로 정렬되는 효과만 나타나게 되오니 주의 바랍니다.
    min-height: 100vh;

    .bookmark {
        float: left;
    }

    .book {
        float: left;
        position: absolute;
        background-color: white;
        background-size: cover;
        border-radius: 5px;
        border-left: 5px solid #9B9191;
        border-right: 5px solid #9B9191;
        width: 70%;
        height: 90%;

        .leftpage {
            float: left; // 두 div를 나란히 옆에 붙이는 방법( 참고 : https://ojji.wayful.com/2013/12/HTML-set-Two-Parallel-DIVs-columns.html )
            background-color: white;
            background-size: cover;
            border-right: 0.05px solid gray;
            width: 49%;
            height: 100%;
            .in {
                margin-left: 30px;
                margin-top: 30px;
            }
        }
        
        .rightpage {
            float: left;
            margin-top: 0px;
            margin-left: 0px;
            background-color: white;
            background-size: cover;
            width: 50%;
            height: 100%;
            .in {
                margin-left: 30px;
                margin-top: 30px;
            }
        }
    }
}