.App {
    // margin: 0 auto;
    // border: 1px solid black;
    margin-top: 40%;
    .control {
        margin: 0 auto;
        .beforeMonth {
            // margin: 0 auto;
    // border: 1px solid black;
            background-color: gray;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: none;
        }

        .nowMonth {
            // margin: 0 auto;
            // border: 1px solid black;
        }

        .afterMonth {
            background-color: gray;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: none;
            // margin: 0 auto;
    // border: 1px solid black;
        }
    }

    .calendar {
        // border: 1px solid black;
        margin: 0 auto;
        margin-top: 25px;
    }

    .diary-print {
        margin: 0 auto;
        margin-top: 50px;
        // border: 1px solid black;
    }
}

// .App {
//     .control {
//         .beforeMonth {
//             background-color: gray;
//             width: 20px;
//             height: 20px;
//             border-radius: 50%;
//             border: none;
//         }

//         .nowMonth {

//         }

//         .afterMonth {

//         }
//     }

//     .calendar {

//     }

//     .diary-print {

//     }
// }